<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="#">
          Sign Out
        </a>
      </div>
    </div>
</div>

<div class="row add-workouts">
  <div class="col-xs-12">
    <div class="text-center">
      <button type="button" class="btn btn-info text-left" id="add-exercise-btn">Add a new exercise</button>
      <button type="button" class="btn btn-success text-right" id="submit-workout-btn">Submit!</button>
    </div>
    <div class="text-right"></div>
  </div>
</div>

<div class="test">
  <ul id="whole_list">
    <li class="each-exercise">
      <div class="set-row text-center set-name">
        <span class="delete">
          <button type="button" class="delete-exercise-btn" id="remove-btn"><img src="/assets/delete.png"></button>
        </span>
        <span class="set-input">
          <input class="set-name-input" type="text" name="exercise" value="" placeholder="Exercise name">
        </span>
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="weight" value="">
        lb
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="sets" value="" style="margin-left: 30px;">
        sets
        <input class="exercise-input" type="text" name="reps" value="" style="margin-left: 70px;">
        reps
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  var ListenerSuite = {
    removeListener: function(){
      $('.delete-exercise-btn').click(function(){
        var $test = $(".each-exercise");
        if ($test.length !== 1) {
          $(this).parent().parent().parent().remove();
        }
      });
    }, 

    submitListener: function(){
      $("#submit-workout-btn").click(function(){
        var json = {};
        var $exercises = $(".each-exercise");
        for( var i = 0; i < $exercises.length; i++){
          // $input = $exercises[i].find("input[name=exercise]");
          console.log("Exercise name: "+ $input.val());
          console.log($exercises[i]);
        }
      }
      )

    }
  }
  $(document).ready(function(){
    ListenerSuite.removeListener();
    ListenerSuite.submitListener();
    mockhide = function(){
      console.log("hide");
      $(this).hide();

    };
    $("#add-exercise-btn").click(function(){
      // if ($("exercise_list-1").length != 0) {
        var $test = $(".each-exercise");
        var $clone = ($test).first().clone();
        $clone.find("input:text").val("");
        $clone.appendTo("#whole_list");
        ListenerSuite.removeListener();
      //}
    })
  })
</script>