<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="#">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div class="test">
  <ul id="whole_list">
    <li class="set">
      <div class="set-row text-center set-name">
        <span class="delete">-</span>
        <span class="set-number">Set #1</span>
        <span class="add-set">+</span>
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="weight" value="">
        lb     
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="reps" value="">
        reps
      </div>
    </li>
  </ul>
</div>
