<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="#">
          Sign Out
        </a>
      </div>
    </div>
</div>

<div class="row add-workouts">
  <div class="col-xs-12">
    <div class="text-center">
      <button type="button" class="btn btn-info text-left" id="add-exercise-btn">Add a new exercise</button>
      <button type="button" class="btn btn-success text-right" id="submit-workout-btn">Submit!</button>
    </div>
    <div class="text-right"></div>
  </div>
</div>

<div class="test">
  <ul id="whole_list">
    <li class="each-exercise" id="exercise_list-1">
      <div class="set-row text-center set-name">
        <span class="delete">
          <button type="button" class="delete-exercise-btn" id="remove-btn"><img src="/assets/delete.png"></button>
        </span>
        <span class="set-input">
          <input class="set-name-input" type="text" name="exercise" value="" placeholder="Exercise name">
        </span>
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="weight" value="">
        lb
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="sets" value="" style="margin-left: 30px;">
        sets
        <input class="exercise-input" type="text" name="reps" value="" style="margin-left: 70px;">
        reps
      </div>
    </li>
  </ul>
</div>




<script type="text/javascript">
  var ListenerSuite = {
    removeListener: function(){
      $('.delete-exercise-btn').click(function(){
        $(this).parent().parent().parent().remove();
      });
    }

  }
  $(document).ready(function(){
    ListenerSuite.removeListener();
    mockhide = function(){
      console.log("hide");
      $(this).hide();

    };
    $("#add-exercise-btn").click(function(){
      console.log($("#exercise_list-1").length);
      // if ($("exercise_list-1").length != 0) {
        var $clone = $("#exercise_list-1").clone();
        $clone.find("input:text").val("");
        $clone.prop('id', 'exercise-list-' + ($("#whole_list").children().length + 1));
        $clone.appendTo("#whole_list");
        ListenerSuite.removeListener();
      //}
    })
  })
</script>