<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="#">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div class="test">
  <ul id="whole_list">
    <li class="set">
      <div class="set-row text-center set-name">
        <span class="delete">-</span>
        <span class="set-input">
          <input class="set-name-input" type="text" name="exercise" value="Exercise name">
        </span>
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="weight" value="">
        lb
      </div>
      <div class="set-row">
        <input class="exercise-input" type="text" name="sets" value="" style="margin-left: 30px;">
        sets
        <input class="exercise-input" type="text" name="reps" value="" style="margin-left: 70px;">
        reps
      </div>
    </li>
  </ul>
</div>
