<!-- <script src="https://use.fontawesome.com/e10086b709.js"></script> -->

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar-add">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-left" style="margin-left: 40px;">
        Workouts
      </div>
      <div class="navbar-brand navbar-right" style="margin-right: -10px;">
        <a href="/">
          Sign Out
        </a>
      </div>
      <div class="row text-center col-xs-12 workout-name-input">
        <span>
          <input class="workout-input" type="text" name="workout" value="" placeholder="Workout name">
        </span>
      </div>
    </div>
</div>

<div class="test-add">
  <ul id="whole_list">
    <li class="each-exercise">
      <div class="set-row text-center set-name">
        <span class="delete">
          <button type="button" class="delete-exercise-btn" id="remove-btn">
            <span class="glyphicon glyphicon-remove remove-btn" aria-hidden="true"></span>
          </button>
        </span>

        <span class="set-input">

          <input class="set-name-input" type="text" name="exercise" value="" placeholder="Exercise name" >
        </span>
      </div>
      <div class="set-row">
        <label id="weight-label"></label>
        <input class="exercise-input" type="text" name="weight" value="" placeholder = "Weight">
        lb
      </div>
      <div class="set-row">
        <label id="sets-label"></label>
        <input class="exercise-input" type="text" name="sets" value="" style="margin-left: 30px;" placeholder="# of ">
        sets
        <label id="reps-label"></label>
        <input class="exercise-input" type="text" name="reps" value="" style="margin-left: 70px;" placeholder="# of ">
        reps
      </div>
      <div class="set-row">
        <label id="rest-label"></label>
        <input class="exercise-input" type="text" name="rest" value="" placeholder="Rest">
        secs
      </div>
    </li>
  </ul>

  <div class="row add-workouts">
    <div class="col-xs-12">
      <button type="button" class="btn btn-info" id="add-exercise-btn">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-success" id="submit-workout-btn">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
    </div>
  </div>

</div>



<script type="text/javascript">
  var ListenerSuite = {
    removeListener: function(){
      $('.delete-exercise-btn').click(function(){
        var $test = $(".each-exercise");
        if ($test.length !== 1) {
          $(this).parent().parent().parent().remove();
        }
      });
    },

    submitListener: function(){
      $("#submit-workout-btn").click(function(){
        var json = {};
        json.name = $(".workout-input").val();
        var $exercises = $("#whole_list").children();
        var exercises = [];
        var validInputs = true;
        $(".each-exercise").each(function(i){
          /*TODO: Fill the exercises list with objects that resemble the data.json exercises*/

          var thisExercise = {};
          var exerciseName = $(this).find("input[name=exercise]").val();
          var weight = $(this).find("input[name=weight]").val();
          
          if(isNaN(weight) || parseInt(weight, 10) < 0){
            $("#weight-label").text("Please enter a number!");
            validInputs = false;
          }else{
            $("#weight-label").text("");
          
          }
          var set = $(this).find("input[name=sets]").val();
          if(isNaN(set) || parseInt(weight, 10) < 0){
            $("#sets-label").text("Please enter a number!");
            validInputs = false;
          }else{
            $("#weight-label").text("");
          
          }
          var reps = $(this).find("input[name=reps]").val();
          if(isNaN(reps) || parseInt(weight, 10) < 0){
            $("#reps-label").text("Please enter a number!");
            validInputs = false;
          }else{
            $("#weight-label").text("");
        
          }
          var rest = $(this).find("input[name=rest]").val();
          if(isNaN(rest) || parseInt(weight, 10) < 0){
            $("#rest-label").text("Please enter a number!");
            validInputs = false;
          }else{
            $("#weight-label").text("");
         
          }

          thisExercise.name = exerciseName;
          thisExercise.weight = weight;
          thisExercise.sets = set;
          thisExercise.reps = reps;
          thisExercise.rest = rest;

          exercises.push(thisExercise);
        });
        if(validInputs === true){
          json.workoutInfo = {};
          json.workoutInfo.exercises = exercises;
          console.log(json);
          $.post("/submitWorkout", {'data': JSON.stringify(json)}, function(){
            console.log("worked out");
            location.href='/workoutList';
          });
        }
      })
    }
  }
  $(document).ready(function(){
    ListenerSuite.removeListener();
    ListenerSuite.submitListener();
    mockhide = function(){
      console.log("hide");
      $(this).hide();

    };
    $("#add-exercise-btn").click(function(){
      // if ($("exercise_list-1").length != 0) {
        var $test = $(".each-exercise");
        var $clone = ($test).first().clone();
        $clone.find("input:text").val("");
        $clone.appendTo("#whole_list");
        ListenerSuite.removeListener();
      //}
    })
  })
</script>
