<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<!-- <script src='//vws.responsivevoice.com/v/e?key=X61xgaE6'></script> -->
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-left">
        Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div class="test">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        Press the clock to begin your workout!
      </div>
    </div>
    <hr/>
    <div class="canvas">
      <span class="glyphicon glyphicon-play" id="mycanvas"></span>
    </div>

    <iframe width="100%" style="display: none;" height="200" scrolling="no" id="sc-widget" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/221214505&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
</div>
<div class="footer">
  <div class="foot-row">
    <div class="container">
      <label>
        <span id="workout">{{workout}}</span>: <span id="exercise"></span>
      </label>
      <p id="workout-info">
        Set: <span id="set-number"></span>
        Reps: <span id="rep-number"></span>
        Weight: <span id="weight-number"></span>
      </p>
    </div>
  </div>
  <div class="foot-row">
    <div class="container">
      <label>
        <span id="playlist">{{playlist}}</span>: <span id="song-name"></span>
      </label>
    </div>
  </div>
</div>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/clock.js"></script>
<script type="text/javascript" src="/js/player.js"> </script>
