<link rel="stylesheet" type="text/css" href="/css/loginstyle.css" >
<div class="login-box">
  <div class="credential-box">
    <div class="ccon">
      <div class="form-group col-xs-12 input-row">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group col-xs-12 input-row">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
    </div>
  </div>
  <div class="login-btn-box">
    <a href="#" id="login-button">
      <div class="container">
        <label style="font-size: large"> Login </label>
      </div>
    </a>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#login-button").click(function(){
      var data = {
        "username": $("#usr").val(),
        "password": $("#pwd").val()
      }
      $.post("/login", {"data": JSON.stringify(data)})
       .done(function(data){
         if(data == "success")
          location.href='/workoutList';
         else {
          $("#pwd").css("border-color", "red");
          $("#usr").css("border-color", "red")

         }
       })
    })
  })
</script>
