<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Hello!!</h1>
    </div>
  </div>
  <div class="form-group col-xs-12">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
  </div>
  <div class="form-group col-xs-12">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="col-xs-4">
    <a href="/chooseWorkout">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login!</button>
    </a>
  </div>
</div>
