<div class="container">
  <div class="col-xs-12 text-center">
    <h1>Workout</h1>
  </div>
  <div class="col-xs-12 text-center">
    <h1>{{workout}}</h1>
  </div>
  <div class="col-xs-12 text-center">
    <h1>Playlist</h1>
  </div>
  <div class="col-xs-12 text-center">
    <h1>{{playlist}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <a href="/workout/{{workout}}/{{playlist}}/begin">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Begin</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <a href="/chooseWorkout">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Cancel</button>
      </a>
    </div>
  </div>
</div>
