<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>  
    </div>
</div>
<div class="container " style="margin-top:50px;">
  <div class="col-xs-12 text-center">
    <h1>Workout</h1>
  </div>
  <div class="col-xs-12 text-center">
    <h1>{{workout}}</h1>
  </div>
  <div class="col-xs-12 text-center">
    <h1>Playlist</h1>
  </div>
  <div class="col-xs-12 text-center">
    <h1>{{playlist}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <a href="/workout/{{workout}}/{{playlist}}/begin">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Begin</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <a href="/chooseWorkout">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Cancel</button>
      </a>
    </div>
  </div>
</div>
