<link rel="stylesheet" type="text/css" href="/css/calendar.css" >
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/calendar.js"></script>
<style type="text/css">
.event {
  width: 40px;
}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87335227-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        <a href="/workoutList">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand navbar-left">
        Your Past Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>
    </div>
</div>
<div class="calendar-header row">
  <button type="button" class="btn btn-secondary" id="prev" onclick="prev()">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>
  <span id="cname">Text</span>
  <button type="button" class="btn btn-secondary" id="next" onclick="next()">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
</div>
<div id="calendar"></div>

<div class="modal fade" id="events-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Event</h3>
            </div>
            <div class="modal-body" style="height: 400px">
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-link" class="btn">Go to Workout</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  var calendar;

function getRandomColor() {
  var colors = ["event-warning", "event-success", "event-inverse", "event-info", "event-important", "event-special", ""];
  var index = getRandomInt(0, colors.length);
  return colors[index];
}

// Returns a random integer between min (included) and max (excluded)
// Using Math.round() will give you a non-uniform distribution!
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min;
}

function getTime(str) {
  var d = new Date(str);
  return d.getTime();
}

function getFormattedPrevWorkouts(jsonWkts){

  var hash = {};

  for(var i = 0; i < jsonWkts.workoutsCompleted.length; i++ ){
    var workout = jsonWkts.workoutsCompleted[i];
    var workoutDate = workout.workoutInfo.timeCompleted;
    if(!hash.hasOwnProperty(workoutDate)){
      hash[workoutDate] = [];
    }
    workout.workoutInfo.exercises.unshift(workout.name);
    hash[workoutDate].push(createEvent(workout.workoutInfo.exercises, workoutDate));
  }

  return hash;
}

function createEvent(workoutArray, date){
  var name = workoutArray[0];
  var title = name;
  var res = {};
  var url = title.split(' ').join('%20');
  res["title"] = title;
  // for (var i = 1; i < workoutArray.length; i++) {
  //   var obj = workoutArray[i];
  //   var str = "";
  //   str += "\n" + obj.name + "- " + obj.sets + " sets of " + obj.reps + " reps X " + obj.weight + " lb\n";
  //   res["title"] += str;
  // }
  res["class"] = getRandomColor();
  res["start"] = getTime(date);
  res["id"] = getRandomInt(100,900);
  res["url"] = '/workoutInfo/' + url;
  return res;
}

$(document).ready(function(){
    var prevWorkouts;
    $.get("/workoutsCompleted").done(function(data){
      prevWorkouts = data;
      var fmtWrkts = getFormattedPrevWorkouts(prevWorkouts);
      var arr = [];
      for(var i in fmtWrkts){
        var temp = fmtWrkts[i];
        for (var j = 0; j < temp.length; j++) {
          arr.push(temp[j]);
        }
      }

      calendar = $("#calendar").calendar(
      {
        tmpl_path: "/assets/bower_components/bootstrap-calendar/tmpls/",
          events_source: function () {
            return arr;
      }, modal: "#events-modal"
      });
      console.log(calendar);
      document.getElementById("cname").textContent=calendar.getMonth();
    });
});

function prev() {
  calendar.navigate('prev');
  document.getElementById("cname").textContent=calendar.getMonth();
}

function next() {
  calendar.navigate('next');
  document.getElementById("cname").textContent=calendar.getMonth();
}
</script>