<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<script src="/js/jquery-3.1.1.min.js"></script>

<div class="container test">
  <div class="row">
    <div class="col-xs-4">
      <a href="/">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Log Out</button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1 class="col-xs-12"> My Workouts </h1>
    </div>
  </div>

  <ul class="workouts">
    {{#each workouts}}
      <li class="each_workout" id="workouts_list">
        <div class="row">
          <div class="col-xs-4">{{this}}</div>
          <div class="col-xs-4"><a href="/workoutInfo/{{this}}" type="button" class="btn btn-success">Choose</a></div>
          <div class="col-xs-4"><button type="button" class="btn btn-danger" onclick="mockhide()">Remove</button></div>
        </div>
      </li>
    {{/each}}
  </ul>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4"><button type="button" class="btn btn-info" onclick="mockadd()">Add a new workout</button></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  mockhide = function(){
    console.log("hide");
    $(this).hide();

  };

  mockadd = function() {
    var exercises = ["Jumping Jacks", "Rowing Machine", "Squats", "Balance", "Insanity", "P90X"];
    console.log("add");
    var index = parseInt(Math.random() * exercises.length);
    var phrase = exercises.splice(index, 1);
    //$(#workouts_list).append(phrase);/*"<div class='row'><div class='col-xs-4'>" + phrase + "</div><div class='col-xs-4'><a href='/workoutInfo/'" + phrase + "' type='button' class='btn btn-success'>Choose</a></div><div class='col-xs-4'><button type='button' class='btn btn-danger' onclick='mockhide()'>Remove</button></div></div>"); */
  };
</script>