<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        Workouts
      </div>

      <div class="navbar-brand navbar-right" style="margin-left: 25px">
        <a href="/" >
          Sign Out
        </a>
      </div>
    </div>
</div>

<div class="test">
  <div class="row text-center">
      <div class="col-xs-12 "><a href="/workoutCalendar"><button type="button" class="btn btn-success" id="add-exercise-btn">Your Past Workouts</button></a>
      </div>
  </div>
  <ul class="workouts" id="whole_list">
    <a href="/addWorkout">
      <li class="each_workout" style="background-image: url('/assets/custom.jpg');"></li>
    </a>
    {{#each workouts}}
      <a href="/workoutInfo/{{this.name}}">
        <li class="each_workout" style="background-image: url('{{this.workoutInfo.image}}');" id="workouts_list-{{@index}}">
          <label class="workout-label">{{this.name}}</label>
          <label class="remove-btn">x</label>
        </li>
      </a>
    {{/each}}
  </ul>
</div>
<script type="text/javascript">
  var ListenerSuite = {
    removeListener: function(){
      $('.remove-btn').click(function(){
        var result = confirm("Would you like to delete this workout?");
        if (result) {
          $(this).parent().remove();
        }
      });
    }
  }
  $(document).ready(function(){
    ListenerSuite.removeListener();
    mockhide = function(){
      console.log("hide");
      $(this).hide();

    };
    $("#add-btn").click(function(){
      var exercises = ["Jumping Jacks", "Rowing Machine", "Squats", "Balance", "Insanity", "P90X"];
      console.log("add");
      var index = parseInt(Math.random() * exercises.length);
      var phrase = exercises.splice(index, 1);
      var $clone = $("#workouts_list-0").clone()
      $clone.find(".workout_name").text(phrase);
      $clone.find(".btn-success").attr("href", "/workoutInfo/"+phrase);
      $clone.appendTo("#whole_list");
      ListenerSuite.removeListener();
    })
  })
</script>
