<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" >
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-brand navbar-left">
        Workouts
      </div>
      <div class="navbar-brand navbar-right">
        <a href="/">
          Sign Out
        </a>
      </div>
    </div>
</div>

<div class="test">

  <div class="row">
    <div class="col-xs-4">
      <div class="col-xs-4"><a href="/addWorkout"><button type="button" class="btn btn-info" id="add-exercise-btn">Add a new workout</button></a></div>
    </div>
    <div class="col-xs-8">
      <div class="col-xs-4" style="margin-left: 25px;"><a href="/workoutCalendar"><button type="button" class="btn btn-success" id="add-exercise-btn">Your Past Workouts</button></a>
      </div>
    </div>
  </div>

  <ul class="workouts" id="whole_list">
    {{#each workouts}}
        <li class="each_workout" style="background-image: url('{{this.workoutInfo.image}}');" id="workouts_list-{{@index}}">
          <a href="/workoutInfo/{{this.name}}"><label class="workout-label">{{this.name}}</label></a>
          <label class="remove-btn">x</label>
      </a>
    {{/each}}
  </ul>
</div>

<script type="text/javascript">
  var ListenerSuite = {
    removeListener: function(){
      $('.remove-btn').click(function(){
        $(this).parent().remove();
      });
    }
  }
  $(document).ready(function(){
    ListenerSuite.removeListener();
    mockhide = function(){
      console.log("hide");
      $(this).hide();

    };
    $("#add-btn").click(function(){
      var exercises = ["Jumping Jacks", "Rowing Machine", "Squats", "Balance", "Insanity", "P90X"];
      console.log("add");
      var index = parseInt(Math.random() * exercises.length);
      var phrase = exercises.splice(index, 1);
      var $clone = $("#workouts_list-0").clone()
      $clone.find(".workout_name").text(phrase);
      $clone.find(".btn-success").attr("href", "/workoutInfo/"+phrase);
      $clone.appendTo("#whole_list");
      ListenerSuite.removeListener();
    })
  })
</script>
